* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.container {
  margin-top: 100px;
  border: 2px solid rgb(235, 125, 151);
  width: 40%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  background: rgb(240, 222, 228);
  background: linear-gradient(
    147deg,
    rgba(240, 222, 228, 1) 0%,
    rgb(213, 43, 120) 72%
  );
}
.watch {
  margin-top: 40px;
  font-size: 112px;
  margin-bottom: 50px;
  font-weight: 500;
  color: white;
}

button {
  text-transform: uppercase;
  color: white;
  background-color: rgb(213, 43, 120);
  height: 45px;
  width: 100px;
  margin-right: 13px;
  border: 3px solid rgb(240, 231, 233);
  border-radius: 20px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: rgb(213, 43, 120);
  border: 2px solid rgb(213, 43, 120);
  transition: 0.3s;
}
